a {
    text-decoration: none;
    color: inherit
}

.big-menu {
    display: flex;
    gap: 10px;
}

.big-menu a {
    margin-right: 10px;
    
}


.top-menu .menu-item {
    margin-right: 5px;
    border-right: 1px solid var(--main-text-color);
    padding-right: 5px;
    color: var(--main-text-color);
}
.top-menu .menu-item:last-child {
    border: 0;
}